*{
    box-sizing: border-box;
  }
  .mt{
    margin-top: 15px;
  }
  .mt-3{
    margin-top: 30px;
  }
  .mt-4{
    margin-top: 40px;
  }
  .mt-5{
    margin-top: 50px;
  }
.flex{
    display: flex;
    flex-wrap: wrap !important;
    &--justify-content-center{
        justify-content: center;
    }
    &--justify-content-space-around{
        justify-content: space-around;
    }
    &--justify-content-space-between{
        justify-content: space-between;
    }
    &--align-items-center{
        align-items: center;
    }
    &--column{
        flex-direction: column;
    }
}
