.menu{
    margin-top: 70px;
    height: calc(100vh - 70px);
    background-color:#fff;
    width: 400px;
    position: absolute;
    right: -420px;
    top: 0;
    z-index: 10000;
    transition: all 0.5s linear;
    @media only screen and (max-width: $M-PHONE) {
      width : 100%;
      height: calc(100% - 120px);
      overflow: auto;
      margin-top: 120px;
      right: -560px;
      transition: all 0.4s linear;
    }
    &__button{
      position: absolute;
      &--toggle{
        left: -85px;
        top: 0;
      @media only screen and (max-width: $M-PHONE) {
        display: none;
      }
      @media only screen and (max-width: $S-PHONE) {
        width: 40px;
        left: 85%;

      }
      }
      &--back{
        right: 0;
        top: 70px;
        background-color: transparent !important;

      }
    }

    &__header{
      height: 70px;
      width: 400px;
      background-color: #F3F3F3;
      box-shadow: 0px 2px 1px rgba(0,0,0, .16);
      z-index: 0;
      position: fixed;
      padding: 1rem;
    @media only screen and (max-width: $M-PHONE) {
      width: 100%;
    }
    }
    &__content{
      margin-top: 70px;
      padding: 1rem;
      padding-top: 0.5rem;
      height: calc(100% - 70px);
      overflow: auto;
      @media only screen and (max-width: $M-PHONE) {
        width: 100%;
      }
      &__category{
        padding-bottom: 55px;
        border-bottom: 2px solid #F3F3F3;
      }
      &__list{
        padding-top: 1.25rem;
      }
    }
    &__title{
      font-weight: 500;
      font-size: 18px;
    }
  
    &.is-active{
      right: 5px;
      @media only screen and (max-width: $M-PHONE) {
        right: 0px;
      }
    }
  }

  .divider{
    &__title{
        width: 100%;
        padding: 5px;
        padding-left: 10px;
        background-color: #f9b52c;
        border-radius: 5px;
        font-size: 16px;
        color: #fff;
        margin-bottom: 15px;
    }
    &__text{
      color: #000;
      font-size: 17px;
      margin-top: 3px;font-weight: 500;
    }
  }
  .accordion-item-header{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }